<!-- product-list.component.html -->
<div class="container">
    <div class="category-list">
      <mat-list>
        <mat-list-item (click)="filterByCategory('all')">All</mat-list-item>
        <mat-list-item *ngFor="let category of categories" (click)="filterByCategory(category)">
          {{ category }}
        </mat-list-item>
      </mat-list>
    </div>
    
    <div class="product-list">
      <div *ngFor="let product of products" class="product-card">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{ product.title }}</mat-card-title>
          </mat-card-header>
          <mat-card-actions>
            <button mat-button color="primary" (click)="addToCart(product.id)">Add to Cart</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
  